<app-menu paginaTitulo="Progreso" [menuCliente]="verMC" *ngIf="rolDuenio"></app-menu>

<ion-content *ngIf="rolDuenio">




  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <img src="../../../assets/images/icons/mismascotas.png" class="iconMenu" alt="Mis mascotas">
      </ion-col>
    </ion-row>
    <ion-card>
    <ion-row>
        <!-- <ion-col size="6"></ion-col> -->
        <ion-col size="6">
          <ion-label>nombre</ion-label>
          <br>
          <ion-label>Teléfono</ion-label>
          <br>
          <ion-label>Cédula</ion-label>
          <br>
          <ion-label>Edad</ion-label>
          <br>
          <ion-label>Direccion Damicilio</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row>
      <ion-col size="12">
        <!-- <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar> -->
        <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>