<app-menu paginaTitulo="Progreso Paseo" [menuCliente]="verMC" *ngIf="rolDuenio"></app-menu>

<ion-content *ngIf="rolDuenio">




  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <img class="image" [src]="procesos.paseador.foto" onerror="this.src='../../../assets/images/icons/nofotoerfil.png'">
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-card>
    <ion-row>
        <!-- <ion-col size="6"></ion-col> -->
        <ion-col size="8">
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          <ion-label>Cancelar $ {{procesos.valor}}</ion-label>
          <br>
          
          <ion-label>
            <ion-icon slot="start" name="walk-outline"></ion-icon>
            Paseador:{{procesos.paseador.nombre}} {{procesos.paseador.apellido}}
          </ion-label>
          <br>
          
          <ion-label>
            <ion-icon slot="start" name="call-outline"></ion-icon>
            Teléfono:{{procesos.paseador.celular}}
          </ion-label>
          <br>
          
          <ion-label>
            <ion-icon slot="start" name="id-card-outline"></ion-icon>
            Cédula: {{procesos.paseador.cedula}}
          </ion-label>
          <br>
          <!-- <ion-label>Edad: {{procesos.paseador.edad}}</ion-label>
          <br> -->
          
          <ion-label>
            <ion-icon slot="start" name="home-outline"></ion-icon> 
            Direccion domicilio: {{procesos.paseador.ubicacion.direccion}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-button expand="block" shape="round">
        El paseador
      </ion-button>
    </ion-card>
    <ion-row>
      <ion-col size="12">
        <!-- <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar> -->
        <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>