.imgRedonda{
    width: 85px;
    height: 90px;
    border-radius: 154px;
    border: 2px solid #2c73bd;
    background-color: beige;
    margin: 5px;
}

.accionDuenio{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    //font-size: 20px;
    color: #ffffff;
    //background-color: #1883ba;
    margin: 0px;
}