<app-menu paginaTitulo="Mis Mascotas" [menuCliente]="verMC" *ngIf="rolDuenio"></app-menu>

<ion-content *ngIf="rolDuenio"> 
    <ion-grid fixed>
        <!-- <ion-row>
            <ion-col>
                <h2>Estas son sus mascotas</h2>
            </ion-col>
        </ion-row> -->

        <!-- DESCOMENTAR PARA VER TODAS LAS MASCOTAS -->
        <!-- <ion-card>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-item *ngFor="let mascota of mascotas" class="itemMascota">
                            <img src={{mascota.foto}} class="imgRedonda" onerror="this.src='../../../assets/images/icons/perfil-dog.png'">
                            <ion-label class="itemMascota">{{mascota.nombre}}</ion-label>
                            <ion-buttons>
                                <ion-button routerLink="/registro-mascota" routerDirection="root" (click)="editMascota(mascota)">
                                    <ion-icon slot="icon-only" name="create-sharp" ></ion-icon>
                                </ion-button>
                                <ion-button (click)="deleteMascota(mascota)">
                                    <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
                                  </ion-button>
                            </ion-buttons>
                        </ion-item>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-card> -->
        <!-- DESCOMENTAR PARA VER TODAS LAS MASCOTAS -->
        
        <ion-card>
            <ion-row>
                <ion-col>
                    <ion-card>
                        
                        <ion-item  *ngFor="let mascota of clienteMascota" class="itemMascota">
                            <img src={{mascota.foto}} class="imgRedonda" onerror="this.src='../../../assets/images/icons/perfil-dog.png'">
                            <ion-label class="itemMascota ion-text-wrap">{{mascota.nombre}}</ion-label>
                            <ion-buttons>
                                <ion-button routerLink="/registro-mascota" routerDirection="root" (click)="editMascota(mascota); enviarID(mascota.id, clienteMascota)">
                                    <ion-icon slot="icon-only" name="create-sharp" ></ion-icon>
                                </ion-button>
                                <ion-button (click)="deleteUserPet(mascota.id, clienteMascota)">
                                    <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
                                  </ion-button>
                            </ion-buttons>
                        </ion-item>
    
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-row class="ion-justify-content-center" *ngIf="btnRegistro" >
            <ion-col size="6">
                <ion-button shape="round" expand="full" (click)="limpiarCampos()" class="ion-text-wrap"  routerLink="/registro-mascota" >Registrar Mascota
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center" *ngIf="!btnRegistro" >
            <ion-card> 
                <ion-col size="6">
                    <h3>Para poder registrar a sus mascotas asegúrese de completar su perfil en la sección <a routerLink="/perfil-persona" routerDirection="root">"Mi Perfil"</a></h3>
                </ion-col>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>