.map{
display: block;
width: 100%;
height: 50%;
}

.miubicacion {
//position: fixed;
bottom: 0px;
background: #ffd740;
}

.aceptar{
position: fixed;
top: 50px;
right: 5px;
background: #80d894;
}

.search{
position: fixed;
top: 45px;
left: 0px;
}

.aceptarValor{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    //font-size: 20px;
    color: #ffffff;
    //background-color: #1883ba;
    margin: 0px;
}

// .ofertarValor{
//     text-decoration: none;
//     padding: 10px;
//     font-weight: 600;
//     //font-size: 20px;
//     color: #ffffff;
//     //background-color: #1883ba;
//     margin: 0px;
// }

.image{
    /* background-image: url("../../../assets/images/icons/huella2.1.png"); */
    background-color: beige;
    padding: 2px;
    border: 10px;
    height: 100px;
    width: 100px;
    border-radius: 60px;
    margin: auto;
}


.imgMascota{
    width: 90px;
    height: 70px;
    border-radius: 15px;
    border: 2px solid #2c73bd;
    background-color: beige;
    margin: 5px;
}

ion-content {
  #map {
    width: 100%;
    height: 40%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;

    &.show-map {
      opacity: 1;
    }
  }
}

  #indicators {
    padding: 16px;
    height: 40%;
    width: 100%;
    overflow-y: auto;
    display: block;
    background: #f7f4f4;
  }