<ion-header>
  <ion-toolbar class="ion-text-wrap">
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Información Solicitud
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div #map class="map">

  </div> -->
  <div id="map"></div>
  
  <!-- <ion-chip class="aceptar" (click)="aceptar()">
    <ion-label class="normal"> Aceptar</ion-label>
    <ion-icon name="checkmark"></ion-icon>
  </ion-chip> -->

  <!-- <ion-chip class= "miubicacion" (click)="mylocation()">
    <ion-label class="normal"> Mi ubicación actual</ion-label>
    <ion-icon name="locate"></ion-icon>
  </ion-chip> -->

  <!-- <div> -->
    <!-- <ion-card> -->
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <!-- <ion-label class="ion-text-wrap">Solicitante</ion-label> -->
              <img class="image" [src]="infoDuenio.duenio.foto" onerror="this.src='../../../assets/images/icons/nofotoerfil.png'">
            </ion-item>
            <ion-item >
              <ion-label class="ion-text-wrap"><h4 style=" text-align: center"> {{infoDuenio.duenio.nombre}} {{infoDuenio.duenio.apellido}}</h4>
                <p>Celular: {{infoDuenio.duenio.celular}}</p>
                <p>Direccíon: {{infoDuenio.direccion}}</p>
                <p>Referencia: {{infoDuenio.duenio.referncia}}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">Tiempo: {{infoDuenio.tiempo}}
              Pago$ {{infoDuenio.valor}}</ion-label>
            </ion-item>
            <!-- <ion-button routerLink="/perfil-persona" >Ir Pro ahí</ion-button> -->
          </ion-col>
          <ion-col size="8">
            <ion-grid fixed>
              <ion-row class="ion-justify-content-center">
                <!-- <ion-label class="ion-text-wrap">Mascotas</ion-label> -->
                <ion-item *ngFor="let mascota of infoDuenio.duenio.mascotas"  >
                      <!-- <ion-col> -->
                      <img src={{mascota.foto}} class="imgMascota" onerror="this.src='../../../assets/images/icons/perfil-dog.png'">
                      <ion-label class="ion-text-wrap">
                        {{mascota.nombre}}
                      <p>Tamaño: {{mascota.tamanio}}</p>
                      <p>Edad: {{mascota.edad}}</p>
                      <p>Agresivo: {{mascota.agresivo}}</p>
                      </ion-label>
                    <!-- </ion-col> -->
                    </ion-item>
                <!-- <ion-col size="6"></ion-col> -->
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="ion-text-wrap">Observaciones: {{infoDuenio.observacion}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    <!-- </ion-card> -->
  <!-- </div> -->

  <ion-card>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <!-- <ion-button (click)="verInidicaciones(true)" class="aceptarValor" shape="round" *ngIf="!verGuia">
              Ver como llegar
            </ion-button>
            <ion-button (click)="verInidicaciones(false)" class="aceptarValor" shape="round" *ngIf="verGuia">
              Ocultar indicaciones
            </ion-button> -->
            <ion-button shape="round" class="aceptarValor" (click)="aceptarOferta(infoDuenio.valor)" >Aceptar por$ {{infoDuenio.valor}} </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Ofrecer: $ 
          </ion-label>
          <!-- </ion-col>
          <ion-col> -->
            <ion-button class="ofertarValor" (click)="aceptarOferta(adcional1)">{{adcional1}}</ion-button>
          <!-- </ion-col>
          <ion-col> -->
            <ion-button class="ofertarValor" (click)="aceptarOferta(adcional2)">{{adcional2}}</ion-button>
          <!-- </ion-col>
          <ion-col> -->
            <ion-button class="ofertarValor" (click)="aceptarOferta(adcional3)">{{adcional3}}</ion-button>
            <!-- <ion-button class="ofertarValor" (click)="aceptarOferta(2)"></ion-button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
<h4 style="text-align: center;">¿Cómo llegar?</h4>
  <div id="indicators" ></div>
</ion-content>
