<!-- <ion-content> -->

  <div *ngIf="registroPet">
    <div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
    <h3 class="subtitulo p-10 encabezado">Registro de Mascotas</h3>
    <ion-item>
      <ion-label class="normal">Foto: </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <label for="file-upload">
            <ion-icon slot="icon-only" name="images-outline"></ion-icon>
          </label>
          <!--  PARA Q ACEPTE CUALQUIER TIPO DE IMAGEN -->
          <!-- <input (change)="nuevaImagenUpload($event)" id="file-upload" style="display: none" type="file"
              accept="image/*"> -->
          <input>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <img class="image"> <!-- [src]="newMascota.foto"> -->
    </ion-item>

    <ion-item>
      <div class="container">
        <div class="row">
          <div class="col">

          </div>
          <div class="col-8">
            <ion-label class="normal" position="floating">Nombre:</ion-label>
            <ion-input class="normal" type="text" inputmode="text" ng-required>
            </ion-input>
          </div>
          <div class="col">

          </div>
        </div>
      </div>

    </ion-item>

    <ion-item>
      <div class="container">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-8">
            <ion-label class="normal" position="floating">Edad:</ion-label>
            <ion-input slot="end" class="normal" type="number" color="initial">
            </ion-input>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="container">
        <div class="row">
          <div class="col">

          </div>
          <div class="col-8">
            <ion-list>
              <ion-radio-group>
                <ion-list-header>
                  <ion-label>Sexo:</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>Hembra</ion-label>
                  <ion-radio slot="start" value="hembra"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Macho</ion-label>
                  <ion-radio slot="start" value="macho"></ion-radio>
                </ion-item>

              </ion-radio-group>
            </ion-list>
          </div>
          <div class="col">

          </div>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="container">
        <div class="row">
          <div class="col">

          </div>
          <div class="col-8">
            <ion-list>
              <ion-radio-group>
                <ion-list-header>
                  <ion-label>Raza:</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>Grande</ion-label>
                  <ion-radio slot="start" value="grande" color="danger"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Mediano</ion-label>
                  <ion-radio slot="start" value="mediano" color="warning"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Pequeño</ion-label>
                  <ion-radio slot="start" value="pequeño" color="success"></ion-radio>
                </ion-item>

              </ion-radio-group>
            </ion-list>

          </div>
          <div class="col">

          </div>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="container">
        <div class="row">
          <div class="col">

          </div>
          <div class="col-8">
            <ion-list>
              <ion-radio-group>
                <ion-list-header>
                  <ion-label>Agresivo:</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>Si</ion-label>
                  <ion-radio slot="start" value="si" color="danger"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="no" color="success"></ion-radio>
                </ion-item>

              </ion-radio-group>
            </ion-list>
          </div>
          <div class="col">

          </div>
        </div>
      </div>

    </ion-item>

    <ion-item>
      <ion-label class="normal" position="floating">Observaciones</ion-label>
      <ion-input class="normal" type="text" inputmode="text">
      </ion-input>
    </ion-item>
    <ion-button style="margin: 20px;" expand="block">Guardar</ion-button>

    <!--</ion-card>-->

    <!-- <ion-card>
  
      <h3 class="subtitulo p-3 encabezado">Mis Mascotas</h3>
  
      <ion-item *ngFor="let mascota of mascotas">
        <img src="{{mascota.foto}}" class="imgRedonda">
        <ion-label class="normal">{{mascota.nombre}}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="newMascota = mascota; mostrarMascota(mascota); enableNewMascota = true; ">
            <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="eliminarMascota(mascota)">
            <ion-icon slot="icon-only" name="trash-bin-outline" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card> -->
  </div>

<!-- </ion-content> -->