.image{
    /* background-image: url("../../../assets/images/icons/huella2.1.png"); */
    background-color: #f2f5bb4d;
    padding: 10px;
    border: 2px;
    height: 250px;
    width: 250px;
    border-radius: 45px;
    margin: auto;
}
