<div *ngIf="registroPet">
  <ion-card>
    <ion-grid>

      <ion-row>
        <ion-col>
            <ion-card style="text-align:center;">
            
            <ion-item>
              <ion-label class="normal">Foto* </ion-label>
              <ion-buttons slot="end">
                <ion-button >
                  <label for="file-upload">
                    <ion-icon slot="icon-only" name="images"></ion-icon>
                  </label>
                  <!--  PARA Q ACEPTE CUALQUIER TIPO DE IMAGEN -->
                  <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file" accept="image/*">
                </ion-button>
              </ion-buttons>
            </ion-item>
            <ion-item>
              <img class="image" [src]="newMascota.foto" onerror="this.src='../../../assets/images/icons/perfil-dog.png'">
            </ion-item>
          </ion-card>
          </ion-col>
      </ion-row>

  
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="normal" position="floating">Nombre*</ion-label>
              <ion-input [(ngModel)]="newMascota.nombre" class="normal" type="text" color="initial"  maxlength="15" required="true" style="text-transform: capitalize"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="normal" position="floating">Edad* (Años)</ion-label>
              <ion-input [(ngModel)]="newMascota.edad" class="normal" type="number" color="initial" required="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
      
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
  
          <ion-card>
            <ion-list>
              <ion-radio-group [(ngModel)]="newMascota.sexo">
                <ion-list-header>
                  <ion-label>Sexo*</ion-label>
                </ion-list-header>
    
                <ion-item>
                  <ion-label>Macho</ion-label>
                  <ion-radio slot="start" value="macho"></ion-radio>
                </ion-item>
    
                <ion-item>
                  <ion-label>Hembra</ion-label>
                  <ion-radio slot="start" value="hembra"></ion-radio>
                </ion-item>
    
              </ion-radio-group>
            </ion-list>
          </ion-card>
  
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
  
          <ion-card>
            <ion-list>
              <ion-radio-group [(ngModel)]="newMascota.tamanio">
                <ion-list-header>
                  <ion-label>Tamaño*</ion-label>
                </ion-list-header>
    
                <ion-item>
                  <ion-label>Grande</ion-label>
                  <ion-radio slot="start" value="grande" color="danger"></ion-radio>
                </ion-item>
    
                <ion-item>
                  <ion-label>Mediano</ion-label>
                  <ion-radio slot="start" value="mediano" color="warning"></ion-radio>
                </ion-item>
    
                <ion-item>
                  <ion-label>Pequeño</ion-label>
                  <ion-radio slot="start" value="pequenio" color="success"></ion-radio>
                </ion-item>    
              </ion-radio-group>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
  
          <ion-row class="ion-justify-content-center">
            <ion-col size="8">
              <ion-card>
                <ion-list>
                  <ion-radio-group [(ngModel)]="newMascota.agresivo">
                    <ion-list-header>
                      <ion-label>Agresivo*</ion-label>
                    </ion-list-header>
        
                    <ion-item>
                      <ion-label>Si</ion-label>
                      <ion-radio slot="start" value="si" color="danger"></ion-radio>
                    </ion-item>
        
                    <ion-item>
                      <ion-label>No</ion-label>
                      <ion-radio slot="start" value="no" color="success"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-card>
              </ion-col>
            </ion-row>
  
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="normal" position="floating">Observaciones:</ion-label>
              <ion-textarea [(ngModel)]="newMascota.observaciones" class="normal" style="text-transform: capitalize"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button shape="round" expand="full" (click)="guardarMascota()">Guardar</ion-button>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-card>
</div>


<!-- REGISTRO DE PERSONAS -->
