<ion-header style=" text-align:center;">
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Dog-Walker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 75px;">
    <ion-row>
      <ion-col size="12">
        <h3 style=" text-align:center;     background: rgb(91 155 213); color: aliceblue;" >Login</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <img src="../../../assets/images/icons/icono.png" class="iconMenu" alt="Mis mascotas">
          </ion-item>
          <ion-card-content style=" text-align:center;">
            <p>Iniciar con<br>
            </p>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="8">
                  <!-- <ion-button color="danger" (click)="googleSignup()" shape="round" expand="full">
                    <ion-icon name="logo-google"></ion-icon>oogle
                  </ion-button> -->
                  <img src="../../../assets/images/icons/iconoGoogle.png" alt="icono de google" height="70px" width="70px" (click)="googleSignup()">
                  <br>
                  <ion-label>Google</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>