<!-- <app-menu paginaTitulo="Mis Mascotas" [menuCliente]="verMC"></app-menu> -->

<ion-header style=" text-align:center;" *ngIf="rolDuenio">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="icon-only" defaultHref="/perfil-mascota" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="subtitulo ion-text-wrap">
      Registro de Mascota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rolDuenio">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-formulario [registroPet]="registroPet"></app-formulario>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>