<app-menu paginaTitulo="Quiero un paseo" [menuCliente]="verMC" *ngIf="rolDuenio"></app-menu>

<ion-content *ngIf="rolDuenio">
  <ion-grid fixed >
    <ion-card *ngIf="!llenarSolicitudPaseo">
      <ion-row>
        <ion-col>
          <h6 style=" text-align: center;" *ngIf="listaMascotas" >¿A quien pasearas?</h6>
          <ion-list>
            <ion-card >
            <ion-item *ngFor="let mascota of clienteMascota">
              <img src={{mascota.foto}} class="imgRedonda" onerror="this.src='../../../assets/images/icons/perfil-dog.png'">
              <ion-label class="itemMascota">{{mascota.nombre}}</ion-label>
              <ion-checkbox slot="end" (click)="estado($event, mascota)"></ion-checkbox>
            </ion-item>
          </ion-card>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-card>

    <!-- <ion-card> -->
      <ion-row>
        <ion-col *ngIf="!llenarSolicitudPaseo">
            <ion-button *ngIf="mostrarDialogo" shape="round" expand="full" (click)="btnSolicitarPaseo()">Solicitar Paseador</ion-button>
        </ion-col>
      </ion-row>
      <ion-card>
      <ion-row *ngIf="llenarSolicitudPaseo">
          <ion-col >

            <ion-item>
              <ion-grid>
                <ion-row class="ion-text-wrap" style="text-align: center;">
                  <ion-col size="1">
                    <ion-icon name="location-sharp" color="danger"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <ion-label>
                    <h5>Mi Ubicación:</h5> 
                    </ion-label>
                      {{direccionSolicitud}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item>
              <ion-icon name="walk-outline"></ion-icon>
              <h5>Paseará a: {{numMascotaPaseo}} mascotas</h5>
            </ion-item>
            <ion-item>
              <ion-list (click)="calcularPagoRef()">
                <ion-radio-group [(ngModel)]="tiempoPaseo" >
                  <ion-list-header class="itemMascota ion-text-wrap">
                    <ion-icon name="alarm-outline"></ion-icon>
                    <ion-label>Tiempo de paseo*</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <ion-label>1 hora</ion-label>
                    <ion-radio slot="start" value="1" color="success"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>2 horas</ion-label>
                    <ion-radio slot="start" value="2" color="success"></ion-radio>
                  </ion-item>
      
                  <ion-item>
                    <ion-label>3 horas</ion-label>
                    <ion-radio slot="start" value="3" color="success"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label class="itemMascota ion-text-wrap" >Valor mínimo pagar </ion-label>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-text-wrap">
                  <ion-col >
                    <ion-label class="itemMascota ion-text-wrap"> $"{{valorPagoRef}}"</ion-label>
                  </ion-col>
                  <ion-col size="10">
                    <ion-input  type="number" name="valor" maxlength="15" required="true" [(ngModel)]="valorIngresadoDuenio" placeholder="Ingrese el pago"></ion-input>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-item>
            <ion-item>
              <ion-label class="normal" position="floating">Sugerencia para el paseo: </ion-label>
              <ion-textarea class="normal ion-text-wrap" style="text-transform: capitalize" type="text" [(ngModel)]="solicitud.observacion" ></ion-textarea>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
      <ion-card>
      <ion-row *ngIf="llenarSolicitudPaseo">
        <ion-col>
          <ion-button shape="round" expand="full" (click)="generarSolicitudBD()">Solicitar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" expand="full" (click)="cancelarSolicitud()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <!--   -->

    <ion-row class="ion-justify-content-center" *ngIf="!listaMascotas" >
      <ion-card> 
          <ion-col size="6">
              <h3>No tiene mascotas registradas, registrelas en la sección <a routerLink="/perfil-mascota" routerDirection="root">"Mis Mascotas"</a></h3>
          </ion-col>
      </ion-card>
  </ion-row>
    </ion-grid>
</ion-content>