<app-menu paginaTitulo="Solicitudes" [menuCliente]="verMC" *ngIf="rolDuenio"></app-menu>


<ion-content *ngIf="rolDuenio">
  <div class="m-3">

    <ion-segment mode="ios" (ionChange)="changeSegment($event)" value="nuevos">
      <ion-segment-button value="nuevos">
        <ion-label class="normal">Nuevos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="culminados">
        <ion-label class="normal">Culminados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="nuevos">
    <ion-card >
      <ion-item *ngFor="let solicitud of solicitudes">
        <ion-label class="normal">
          Fecha: {{solicitud.fecha.seconds*1000 | date:'short'}}
          <p>Mascotas: {{solicitud.mascotasPaseo}}</p>
          <p>Tiempo: {{solicitud.tiempo}} horas  Pago$ {{solicitud.valor}} </p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="!nuevos">
    <ion-card >
      <ion-item *ngFor="let solicitud of solicitudesCulmida">
        <ion-label class="normal">
          Fecha: {{solicitud.fecha.seconds*1000 | date:'short'}}
          <p>Mascotas: {{solicitud.mascotasPaseo}}</p>
          <p>Tiempo: {{solicitud.tiempo}} horas  Pago$ {{solicitud.valor}} </p>
        </ion-label>
      </ion-item>
      
    </ion-card>
  </div>

</ion-content>
